<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="col-md-6 col-md-offset-3">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-eye-close"></span> {{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">I want to...<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/law/">learn more!</a></li>
            <li><a href="/care/">know why I should care!</a></li>
            <!--            <li><a href="/dosomething/">take action!</a></li>-->
            <li><a href="/protect/">protect myself!</a></li>
          </ul>
        </li>
        <li><a href="/about/">About</a></li>
      </ul>     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
